@import-normalize;

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: rgb(87, 88, 134);
  background: linear-gradient(to right, #eff0f5, #b8c3d0);
  padding: 0;
  margin: 0;


  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}